/* Font family */
@font-face {
    font-family: Orbitron;
    src: url('public/fonts/Orbitron-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Orbitron;
    src: url('public/fonts/Orbitron-Bold.ttf');
    font-weight: bold;
}


h1, h2, h3, h4 {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 40px;
}

.spaced {
    letter-spacing: 0.9em;
    text-indent: 0.9em;
}

p.console-text {
    font-family: Orbitron, monospace;
    color: white;
    font-size: 12px;
    line-height: 160%;
}

span.bold-console-text {
    font-family: Orbitron, monospace;
    font-weight: bold;
}

.helvitica-light {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}

.orbitron-bold {
    font-family: Orbitron, monospace;
    font-weight: bold;
}

/* Font color */

.font-color-yellow {
    color: #FAC96F;
}

.font-color-green {
    color: #82BE8F;
}

.font-color-blue {
    color: #59D4F6;
}

/* Font layout */

.center-text {
    text-align: center;
}
